*{
  margin:0;
}
body {
  background: rgb(16,0,55);
  background: radial-gradient(circle, rgba(16,0,55,1) 0%, rgba(0,0,0,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

.container{
  display:flex;
	justify-content: space-evenly;
}

.page{
  margin:10px;
}

.head{
  font-weight: 500;
}
h2 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}
.App {
  max-width: 1600px;
  margin: 0 auto;
}
@media only screen and (max-width : 768px) {
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}
button {
  display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}