
.check1{
  display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-evenly;
	margin: 10px;
	padding:20px;
	width:100%;
	max-height: 320px;
	max-width: 1500px;
}

body {
  background: rgb(16,0,55);
background: radial-gradient(circle, rgba(16,0,55,1) 0%, rgba(0,0,0,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  
  form {
    display:grid;
    grid-template-columns: repeat(4, auto);
    max-width: 1500px;
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 00;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .form {
    
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  p {
    color: #bf1650;
  }
  
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  input[type='radio'],
  input[type='checkbox'] {
    display: inline;
    width: initial;
  }
  
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-weight: 200;
  } 
  
  button,
  input[type='submit'] {
    background: rgb(220,103,223);
    background: radial-gradient(circle, rgba(220,103,223,1) 0%, rgba(132,45,253,1) 100%);
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  button {
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
  }
  
  input[type='submit']:hover {
    background: rgb(201,19,102);
background: radial-gradient(circle, rgba(201,19,102,1) 0%, rgba(233,85,200,1) 100%);
    transform: scale(1.05);
  }
  
  input[type='submit']:disabled {
    background: #888888;
  }
  
  input[type='button']:active,
  input[type='submit']:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type='button']:hover {
    transition: 0.5s all;
  }
  
  input[type='button'],
  input[type='submit'] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 1600px;
    margin: 0 auto;
  }

  @media only screen and (max-width : 1000px) {
    .check{
      display:grid;
      grid-template-columns: repeat(2, auto);
      max-width: 1500px;
      margin: 0 auto;
      margin: 10px;
	    padding:20px;
	    width:100%;
    }
  }
  
  
  