.row__posters{
    display: flex;
    overflow-y:hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 25px;
}

.row__poster:hover{
    transform: scale(1.2);
}

h4 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 5px;
  }
